.years-dropdown-button {
  width: 250px;
  height: 150px;
  font-size: 24px;
  background-color: #356fa0;
  color: #dbdc46;
  font-family: 'Averia Serif Libre', serif;
  font-family: 'Silkscreen', sans-serif;
}

.years-dropdown-button:hover {
  background-color: #ab63fb;
}

.menu {
  list-style-type: none;
  margin-top: 0;
  padding: 0;
  border: 1px solid gray;
  width: 250px;
}

.menu>li {
  margin: 0;
  background-color: #dbdc46;
  font-size: 20px;
  font-family: 'Averia Serif Libre', serif;
  font-family: 'Silkscreen', sans-serif;
}

.menu>li:hover {
  background-color: #ab63fb;
  color: white;
}

.menu>li>button {
  width: 100%;
  height: 100%;
  text-align: center;
  background: none;
  color: inherit;
  border: none;
  padding: 5px;
  margin: 0;
  font: inherit;
  cursor: pointer;
}
