section {
  background-color: #da68b3;
}

.album-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
}


.track {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-bottom: none;
  font-family: 'Averia Serif Libre', serif;
  font-family: 'Silkscreen', sans-serif;
}

.track-info {
  display: flex;
  align-items: center;

}

.track-info p {
  margin: 0;
  margin-right: 10px;
}

.tracks {
  display: flex;
  flex-direction: column;
  width: 400px;
  border: 2px solid black;
  padding: 10px;
  margin: 20px;
  background-color: lightblue;
  border-radius: 6px;
}

.add-button {
  padding: 5px 10px;
  background-color: #4CAF50; 
  color: white;
  border: none; 
  width: 100px;
  height: 30px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
  font-family: 'Averia Serif Libre', serif;
  font-family: 'Silkscreen', sans-serif;
}

.add-button:hover {
  cursor: pointer;
  background-color: #45a049;
}

.track:last-child {
  border-bottom: none;
}

.album-title, .artist-name {
  font-family: 'Averia Serif Libre', serif;
  font-family: 'Silkscreen', sans-serif;
}

