.internal-tracklist-container {
  font-family: 'Averia Serif Libre', serif;
  font-family: 'Silkscreen', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  width: 100%;
  max-width: 100%;
  max-height: 55%;
  margin-left: 10%;  /* Adjust or remove to increase available space */
  margin-right: 0;
  margin-bottom: 10%;
  overflow: visible;
  overflow-x: auto;
}

.tracklist-title {
  display: flex;
  align-self: left;
}

.tracklist {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: visible;
}

.tracklist .track {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  margin: 2px 0;
}

.tracklist .track p {
  flex-grow: 1;
  white-space: nowrap; /* Ensure text doesn't wrap */
  overflow: visible; /* Allow the text to be visible even if it overflows */
  text-overflow: clip;
  margin-right: 10px; 
}

.tracklist .track .add-button {
  white-space: nowrap;
}