.internal-tracklist-container {
  font-family: 'Averia Serif Libre', serif;
  font-family: 'Silkscreen', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  width: 80%;
  max-height: 55%;
  max-width: 90%; /* Adjust this value to control the width */
  margin-left: 25%;
  margin-right: 15%;
  margin-bottom: 10%;
  overflow: visible;
}

.tracklist-title {
  display: flex;
  align-self: left;
}

.tracklist {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: visible;
}

.tracklist .track {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  margin: 2px 0;
}

.tracklist .track p {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px; 
}

.tracklist .track .add-button {
  white-space: nowrap;
}