.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #da68b3;
}

.main-page-font {
  font-family: 'Averia Serif Libre', serif;
  font-family: 'Silkscreen', sans-serif;
}

.album-tracklist-font {
  font-family: 'Averia Serif Libre', serif;
  font-family: 'Silkscreen', sans-serif;
}