.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}

.main-page-font {
  font-family: 'Indie Flower', cursive;
}

.album-tracklist-font {
  font-family: 'Averia Serif Libre', serif;
  font-family: 'Silkscreen', sans-serif;
}