html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
  
.albums-by-year-container {
    background-color: #da68b3;
    padding: 20px;
    font-family: 'Averia Serif Libre', serif;
    font-family: 'Silkscreen', sans-serif;
    height: 100%;
}

.album-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}
 
.album-cover {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
  
.album-title, .year-title, .album-link {
    color: darkblue;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
}

.album {
    background-color: #77cdea;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    border: 2px solid #598957;
    border-radius: 5px;
    font-weight: bold;
    transition: transform 0.1s ease-in-out, background-color 0.1s ease-in-out;
}
  
.album:hover {
    transform: translateY(-2px);
    background-color: #89b759;
}

.album:active {
    transform: translateY(2px);
    background-color: #ab63fb;
}

.home-button {
    text-decoration: none;
    color: black;
    padding: 20px 40px;
    border: 1px solid purple;
    border-radius: 25px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.home-button:hover {
    background-color: #ab63fb;
}
